body { 
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
}


.container {
	width: 710px;
	margin: 0 auto;
}

header {
	padding-top: 20px;
}

header img {
	display: block;
	float: left;
	padding: 0 1em;
}

nav {
	float: right;
}
nav {
	padding: 0 0.7em;
	white-space: nowrap;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0 0.5em;
}

section {
	clear: both;
	margin-top: 1em;
	font-size: 120%;
}
section h1 {
	font-weight: normal;
	margin-top: 0;
}
.profile {
	padding-top: 1em;
}
.main {
	float: left;
	display: block;
	width: 70%;
	padding: 1em 0;
}
.sidebar {
	display: block;
	float: right;
	width: 26%;
	padding: 1em 2%;
	background-color: #f6f6ff;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.profile img.gravatar{
	margin-bottom: -5px;
}

footer {
	clear: both;
	text-align: center;
	width: 710px;
	margin: 0 auto;
	padding-top: .4em;
	padding-bottom: .3em;
	background-color: #f6f6ff;
}



footer nav {
	float: none;
}


/**** Links ****/

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}
